In [2]:
%load_ext autoreload

In [3]:
import sys
sys.path.append("/home/aakash/College/GSoC/neural-extraction-framework/GSoC23")

In [16]:
%autoreload
from NER import ner

In [6]:
import pickle
with open("./basic_eval_data/asbtracts_and_entities.pkl","rb") as f:
    abstracts_and_entities = pickle.load(f)

In [7]:
abstracts_and_entities

{'Lionel_Messi': {'abstract': "Lionel Andrés Messi (Spanish pronunciation: [ljoˈnel anˈdɾes ˈmesi]; born 24 June 1987), also known as Leo Messi, is an Argentine professional footballer who plays as a forward for Ligue 1 club Paris Saint-Germain and captains the Argentina national team. Widely regarded as one of the greatest players of all time, Messi has won a record seven Ballon d'Or awards, a record six European Golden Shoes, and in 2020 was named to the Ballon d'Or Dream Team. Until leaving the club in 2021, he had spent his entire professional career with Barcelona, where he won a club-record 35 trophies, including 10 La Liga titles, seven Copa del Rey titles and four UEFA Champions Leagues. A prolific goalscorer and creative playmaker, Messi holds the records for most goals in La Liga (474), most goals in a La Liga and European league season (50), most hat-tricks in La Liga (36) and the UEFA Champions League (8), and most assists in La Liga (192), a La Liga season (21) and the Copa América (17). He also holds the record for most international goals by a South American male (94). Messi has scored over 785 senior career goals for club and country, and has the most goals by a player for a single club (672). Born and raised in central Argentina, Messi relocated to Spain at the age of 13 to join Barcelona, for whom he made his competitive debut aged 17 in October 2004. He established himself as an integral player for the club within the next three years, and in his first uninterrupted season in 2008–09 he helped Barcelona achieve the first treble in Spanish football; that year, aged 22, Messi won his first Ballon d'Or. Three successful seasons followed, with Messi winning four consecutive Ballons d'Or, making him the first player to win the award four times. During the 2011–12 season, he set the La Liga and European records for most goals scored in a single season, while establishing himself as Barcelona's all-time top scorer. The following two seasons, Messi finished second for the Ballon d'Or behind Cristiano Ronaldo (his perceived career rival), before regaining his best form during the 2014–15 campaign, becoming the all-time top scorer in La Liga and leading Barcelona to a historic second treble, after which he was awarded a fifth Ballon d'Or in 2015. Messi assumed captaincy of Barcelona in 2018, and in 2019 he won a record sixth Ballon d'Or. Out of contract, he signed for Paris Saint-Germain in August 2021. An Argentine international, Messi holds the national record for appearances and is also the country's all-time leading goalscorer. At youth level, he won the 2005 FIFA World Youth Championship, finishing the tournament with both the Golden Ball and Golden Shoe, and an Olympic gold medal at the 2008 Summer Olympics. His style of play as a diminutive, left-footed dribbler drew comparisons with his compatriot Diego Maradona, who described Messi as his successor. After his senior debut in August 2005, Messi became the youngest Argentine to play and score in a FIFA World Cup in 2006, and reached the final of the 2007 Copa América, where he was named young player of the tournament. As the squad's captain from August 2011, he led Argentina to three consecutive finals: the 2014 FIFA World Cup, for which he won the Golden Ball, and the 2015 and 2016 Copa América, winning the Golden Ball in the 2015 edition. After announcing his international retirement in 2016, he reversed his decision and led his country to qualification for the 2018 FIFA World Cup, a third-place finish at the 2019 Copa América, and won the 2021 Copa América, while winning the Golden Ball and Golden Boot award for the latter. This achievement would see him receive a record seventh Ballon d'Or in 2021. Messi has endorsed sportswear company Adidas since 2006. According to France Football, he was the world's highest-paid footballer for five years out of six between 2009 and 2014, and was ranked the world's highest-paid athlete by Forbes in 2019 and 2022. Messi was among Time's 100 most influential people in the world in 2011 and 2012. In February 2020, he was awarded the Laureus World Sportsman of the Year, thus becoming the first footballer and the first team sport athlete to win the award. Later that year, Messi became the second footballer (and second team-sport athlete) to surpass $1 billion in career earnings.",
  'entities': []},
 'Rio_de_Janeiro': {'abstract': 'Rio de Janeiro (UK: /ˈriːoʊ də dʒəˈnɪəroʊ/ REE-oh də jə-NEER-oh, US: /ˈriːoʊ diː ʒəˈnɛəroʊ/ REE-oh dee zhə-NAIR-oh, Portuguese: [ˈʁi.u d(ʒi) ʒɐˈne(j)ɾu]; literally \'River of January\'), or simply Rio, is the capital of the state of the same name, Brazil\'s third-most populous state, and the second-most populous city in Brazil, after São Paulo. Listed by the GaWC as a beta global city, Rio de Janeiro is the sixth-most populous city in the Americas. Part of the city has been designated as a World Heritage Site, named "Rio de Janeiro: Carioca Landscapes between the Mountain and the Sea", on 1 July 2012 as a Cultural Landscape. Founded in 1565 by the Portuguese, the city was initially the seat of the Captaincy of Rio de Janeiro, a domain of the Portuguese Empire. In 1763, it became the capital of the State of Brazil, a state of the Portuguese Empire. In 1808, when the Portuguese Royal Court moved to Brazil, Rio de Janeiro became the seat of the court of Queen Maria I of Portugal. She subsequently, under the leadership of her son the prince regent João VI of Portugal, raised Brazil to the dignity of a kingdom, within the United Kingdom of Portugal, Brazil, and Algarves. Rio remained as the capital of the pluricontinental Lusitanian monarchy until 1822, when the Brazilian War of Independence began. This is one of the few instances in history that the capital of a colonizing country officially shifted to a city in one of its colonies. Rio de Janeiro subsequently served as the capital of the independent monarchy, the Empire of Brazil, until 1889, and then the capital of a republican Brazil until 1960 when the capital was transferred to Brasília. Rio de Janeiro has the second-largest municipal GDP in the country, and 30th-largest in the world in 2008. This is estimated at R$343 billion (nearly US$201 billion). It is headquarters to Brazilian oil, mining, and telecommunications companies, including two of the country\'s major corporations, Petrobras and Vale, and Latin America\'s largest telemedia conglomerate, Grupo Globo. The home of many universities and institutes, it is the second-largest center of research and development in Brazil, accounting for 17 percent of national scientific output according to 2005 data. Despite the high perception of crime, the city actually has a lower incidence of crime than most state capitals in Brazil. Rio de Janeiro is one of the most visited cities in the Southern Hemisphere and is known for its natural settings, carnival, samba, bossa nova, and balneario beaches such as Barra da Tijuca, Copacabana, Ipanema, and Leblon. In addition to the beaches, some of the most famous landmarks include the giant statue of Christ the Redeemer atop Corcovado mountain, named one of the New Seven Wonders of the World; Sugarloaf Mountain with its cable car; the Sambódromo (Sambadrome), a permanent grandstand-lined parade avenue which is used during Carnival; and Maracanã Stadium, one of the world\'s largest football stadiums. Rio de Janeiro was the host of the 2016 Summer Olympics and the 2016 Summer Paralympics, making the city the first South American and Portuguese-speaking city to ever host the events, and the third time the Olympics were held in a Southern Hemisphere city. The Maracanã Stadium held the finals of the 1950 and 2014 FIFA World Cups, the 2013 FIFA Confederations Cup, and the XV Pan American Games.',
  'entities': []},
 'Ice_cream': {'abstract': 'Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries or peaches. It can also be made by whisking a flavored cream base and liquid nitrogen together. Food coloring is sometimes added, in addition to stabilizers. The mixture is cooled below the freezing point of water and stirred to incorporate air spaces and to prevent detectable ice crystals from forming. The result is a smooth, semi-solid foam that is solid at very low temperatures (below 2 °C or 35 °F). It becomes more malleable as its temperature increases. The meaning of the name "ice cream" varies from one country to another. In some countries, such as the United States, "ice cream" applies only to a specific variety, and most governments regulate the commercial use of the various terms according to the relative quantities of the main ingredients, notably the amount of cream. Products that do not meet the criteria to be called ice cream are sometimes labelled "frozen dairy dessert" instead. In other countries, such as Italy and Argentina, one word is used for all variants. Analogues made from dairy alternatives, such as goat\'s or sheep\'s milk, or milk substitutes (e.g., soy, cashew, coconut, almond milk or tofu), are available for those who are lactose intolerant, allergic to dairy protein or vegan. Ice cream may be served in dishes, for eating with a spoon, or licked from edible wafer cones. Ice cream may be served with other desserts—such as apple pie, or as an ingredient in ice cream floats, sundaes, milkshakes, ice cream cakes and baked items, such as Baked Alaska.',
  'entities': []},
 'Car': {'abstract': "A car or automobile is a motor vehicle with wheels. Most definitions of cars say that they run primarily on roads, seat one to eight people, have four wheels, and mainly transport people instead of goods. The year 1886 is regarded as the birth year of the car, when German inventor Carl Benz patented his Benz Patent-Motorwagen. Cars became widely available during the 20th century. One of the first cars affordable by the masses was the 1908 Model T, an American car manufactured by the Ford Motor Company. Cars were rapidly adopted in the US, where they replaced animal-drawn carriages and carts. In Europe and other parts of the world, demand for automobiles did not increase until after World War II. The car is considered an essential part of the developed economy. Cars have controls for driving, parking, passenger comfort, and a variety of lights. Over the decades, additional features and controls have been added to vehicles, making them progressively more complex. These include rear-reversing cameras, air conditioning, navigation systems, and in-car entertainment. Most cars in use in the early 2020s are propelled by an internal combustion engine, fuelled by the combustion of fossil fuels. Electric cars, which were invented early in the history of the car, became commercially available in the 2000s and are predicted to cost less to buy than gasoline cars before 2025. The transition from fossil fuels to electric cars features prominently in most climate change mitigation scenarios, such as Project Drawdown's 100 actionable solutions for climate change. There are costs and benefits to car use. The costs to the individual include acquiring the vehicle, interest payments (if the car is financed), repairs and maintenance, fuel, depreciation, driving time, parking fees, taxes, and insurance. The costs to society include maintaining roads, land use, road congestion, air pollution, public health, healthcare, and disposing of the vehicle at the end of its life. Traffic collisions are the largest cause of injury-related deaths worldwide. Personal benefits include on-demand transportation, mobility, independence, and convenience. Societal benefits include economic benefits, such as job and wealth creation from the automotive industry, transportation provision, societal well-being from leisure and travel opportunities, and revenue generation from taxes. People's ability to move flexibly from place to place has far-reaching implications for the nature of societies. There are around one billion cars in use worldwide. Car usage is increasing rapidly, especially in China, India, and other newly industrialized countries.",
  'entities': []}}

In [8]:
import spacy
nlp = spacy.load("en_core_web_trf")

In [17]:
import time
for k in abstracts_and_entities:
    if len(abstracts_and_entities[k]['entities'])==0:
        l = len(abstracts_and_entities[k]['abstract'].split())
        s = time.time()
        abstracts_and_entities[k]['entities'] = ner.spacy_ner(nlp, abstracts_and_entities[k]['abstract'])
        e = time.time()
        print(f"Time taken to perform NER on abstract of {l} tokens - {e-s} seconds")

Time taken to perform NER on abstract of 734 tokens - 2.1659674644470215 seconds
Time taken to perform NER on abstract of 556 tokens - 2.3046836853027344 seconds
Time taken to perform NER on abstract of 298 tokens - 0.83363938331604 seconds
Time taken to perform NER on abstract of 403 tokens - 1.098207712173462 seconds

In [18]:
abstracts_and_entities['Lionel_Messi']

{'abstract': "Lionel Andrés Messi (Spanish pronunciation: [ljoˈnel anˈdɾes ˈmesi]; born 24 June 1987), also known as Leo Messi, is an Argentine professional footballer who plays as a forward for Ligue 1 club Paris Saint-Germain and captains the Argentina national team. Widely regarded as one of the greatest players of all time, Messi has won a record seven Ballon d'Or awards, a record six European Golden Shoes, and in 2020 was named to the Ballon d'Or Dream Team. Until leaving the club in 2021, he had spent his entire professional career with Barcelona, where he won a club-record 35 trophies, including 10 La Liga titles, seven Copa del Rey titles and four UEFA Champions Leagues. A prolific goalscorer and creative playmaker, Messi holds the records for most goals in La Liga (474), most goals in a La Liga and European league season (50), most hat-tricks in La Liga (36) and the UEFA Champions League (8), and most assists in La Liga (192), a La Liga season (21) and the Copa América (17). He also holds the record for most international goals by a South American male (94). Messi has scored over 785 senior career goals for club and country, and has the most goals by a player for a single club (672). Born and raised in central Argentina, Messi relocated to Spain at the age of 13 to join Barcelona, for whom he made his competitive debut aged 17 in October 2004. He established himself as an integral player for the club within the next three years, and in his first uninterrupted season in 2008–09 he helped Barcelona achieve the first treble in Spanish football; that year, aged 22, Messi won his first Ballon d'Or. Three successful seasons followed, with Messi winning four consecutive Ballons d'Or, making him the first player to win the award four times. During the 2011–12 season, he set the La Liga and European records for most goals scored in a single season, while establishing himself as Barcelona's all-time top scorer. The following two seasons, Messi finished second for the Ballon d'Or behind Cristiano Ronaldo (his perceived career rival), before regaining his best form during the 2014–15 campaign, becoming the all-time top scorer in La Liga and leading Barcelona to a historic second treble, after which he was awarded a fifth Ballon d'Or in 2015. Messi assumed captaincy of Barcelona in 2018, and in 2019 he won a record sixth Ballon d'Or. Out of contract, he signed for Paris Saint-Germain in August 2021. An Argentine international, Messi holds the national record for appearances and is also the country's all-time leading goalscorer. At youth level, he won the 2005 FIFA World Youth Championship, finishing the tournament with both the Golden Ball and Golden Shoe, and an Olympic gold medal at the 2008 Summer Olympics. His style of play as a diminutive, left-footed dribbler drew comparisons with his compatriot Diego Maradona, who described Messi as his successor. After his senior debut in August 2005, Messi became the youngest Argentine to play and score in a FIFA World Cup in 2006, and reached the final of the 2007 Copa América, where he was named young player of the tournament. As the squad's captain from August 2011, he led Argentina to three consecutive finals: the 2014 FIFA World Cup, for which he won the Golden Ball, and the 2015 and 2016 Copa América, winning the Golden Ball in the 2015 edition. After announcing his international retirement in 2016, he reversed his decision and led his country to qualification for the 2018 FIFA World Cup, a third-place finish at the 2019 Copa América, and won the 2021 Copa América, while winning the Golden Ball and Golden Boot award for the latter. This achievement would see him receive a record seventh Ballon d'Or in 2021. Messi has endorsed sportswear company Adidas since 2006. According to France Football, he was the world's highest-paid footballer for five years out of six between 2009 and 2014, and was ranked the world's highest-paid athlete by Forbes in 2019 and 2022. Messi was among Time's 100 most influential people in the world in 2011 and 2012. In February 2020, he was awarded the Laureus World Sportsman of the Year, thus becoming the first footballer and the first team sport athlete to win the award. Later that year, Messi became the second footballer (and second team-sport athlete) to surpass $1 billion in career earnings.",
 'entities': [{'entity_group': 'PERSON',
   'word': 'Lionel Andrés Messi',
   'start': 0,
   'end': 19},
  {'entity_group': 'NORP', 'word': 'Spanh', 'start': 21, 'end': 28},
  {'entity_group': 'DATE', 'word': '24 June 1987', 'start': 74, 'end': 86},
  {'entity_group': 'PERSON', 'word': 'Leo Messi', 'start': 103, 'end': 112},
  {'entity_group': 'NORP', 'word': 'Argente', 'start': 120, 'end': 129},
  {'entity_group': 'ORG', 'word': 'Ligue 1', 'start': 181, 'end': 188},
  {'entity_group': 'ORG', 'word': 'Par Sat-Germa', 'start': 194, 'end': 213},
  {'entity_group': 'GPE', 'word': 'Argenta', 'start': 231, 'end': 240},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 316, 'end': 321},
  {'entity_group': 'CARDINAL', 'word': 'seven', 'start': 339, 'end': 344},
  {'entity_group': 'WORK_OF_ART',
   'word': "Ballon d'Or awards",
   'start': 345,
   'end': 363},
  {'entity_group': 'CARDINAL', 'word': 'six', 'start': 374, 'end': 377},
  {'entity_group': 'WORK_OF_ART',
   'word': 'European Golden Shoes',
   'start': 378,
   'end': 399},
  {'entity_group': 'DATE', 'word': '2020', 'start': 408, 'end': 412},
  {'entity_group': 'WORK_OF_ART',
   'word': "Ballon d'Or Dream Team",
   'start': 430,
   'end': 452},
  {'entity_group': 'DATE', 'word': '2021', 'start': 480, 'end': 484},
  {'entity_group': 'ORG', 'word': 'Barcelona', 'start': 535, 'end': 544},
  {'entity_group': 'CARDINAL', 'word': '35', 'start': 573, 'end': 575},
  {'entity_group': 'CARDINAL', 'word': '10', 'start': 596, 'end': 598},
  {'entity_group': 'ORG', 'word': 'La Liga', 'start': 599, 'end': 606},
  {'entity_group': 'CARDINAL', 'word': 'seven', 'start': 615, 'end': 620},
  {'entity_group': 'EVENT', 'word': 'Copa del Rey', 'start': 621, 'end': 633},
  {'entity_group': 'CARDINAL', 'word': 'four', 'start': 645, 'end': 649},
  {'entity_group': 'ORG',
   'word': 'UEFA Champions Leagues',
   'start': 650,
   'end': 672},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 720, 'end': 725},
  {'entity_group': 'ORG', 'word': 'La Liga', 'start': 762, 'end': 769},
  {'entity_group': 'CARDINAL', 'word': '474', 'start': 771, 'end': 774},
  {'entity_group': 'ORG', 'word': 'La Liga', 'start': 793, 'end': 800},
  {'entity_group': 'NORP', 'word': 'European', 'start': 805, 'end': 813},
  {'entity_group': 'CARDINAL', 'word': '50', 'start': 829, 'end': 831},
  {'entity_group': 'ORG', 'word': 'La Liga', 'start': 853, 'end': 860},
  {'entity_group': 'CARDINAL', 'word': '36', 'start': 862, 'end': 864},
  {'entity_group': 'ORG',
   'word': ' UEFA Champions League',
   'start': 870,
   'end': 895},
  {'entity_group': 'ORG', 'word': 'La Liga', 'start': 921, 'end': 928},
  {'entity_group': 'CARDINAL', 'word': '192', 'start': 930, 'end': 933},
  {'entity_group': 'ORG', 'word': 'La Liga', 'start': 938, 'end': 945},
  {'entity_group': 'CARDINAL', 'word': '21', 'start': 954, 'end': 956},
  {'entity_group': 'EVENT', 'word': ' Copa América', 'start': 962, 'end': 978},
  {'entity_group': 'CARDINAL', 'word': '17', 'start': 980, 'end': 982},
  {'entity_group': 'NORP',
   'word': 'South American',
   'start': 1044,
   'end': 1058},
  {'entity_group': 'CARDINAL', 'word': '94', 'start': 1065, 'end': 1067},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 1070, 'end': 1075},
  {'entity_group': 'CARDINAL', 'word': 'over 785', 'start': 1087, 'end': 1095},
  {'entity_group': 'CARDINAL', 'word': '672', 'start': 1192, 'end': 1195},
  {'entity_group': 'GPE', 'word': 'Argenta', 'start': 1225, 'end': 1234},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 1236, 'end': 1241},
  {'entity_group': 'GPE', 'word': 'Spa', 'start': 1255, 'end': 1260},
  {'entity_group': 'DATE', 'word': ' age of 13', 'start': 1264, 'end': 1277},
  {'entity_group': 'ORG', 'word': 'Barcelona', 'start': 1286, 'end': 1295},
  {'entity_group': 'CARDINAL', 'word': '17', 'start': 1341, 'end': 1343},
  {'entity_group': 'DATE', 'word': 'Ocber 2004', 'start': 1347, 'end': 1359},
  {'entity_group': 'DATE',
   'word': ' next three years',
   'start': 1426,
   'end': 1446},
  {'entity_group': 'ORDINAL', 'word': 'first', 'start': 1459, 'end': 1464},
  {'entity_group': 'ORG', 'word': 'Barcelona', 'start': 1507, 'end': 1516},
  {'entity_group': 'ORDINAL', 'word': 'first', 'start': 1529, 'end': 1534},
  {'entity_group': 'NORP', 'word': 'Spanh', 'start': 1545, 'end': 1552},
  {'entity_group': 'DATE', 'word': 'th year', 'start': 1563, 'end': 1572},
  {'entity_group': 'DATE', 'word': '22', 'start': 1579, 'end': 1581},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 1583, 'end': 1588},
  {'entity_group': 'ORDINAL', 'word': 'first', 'start': 1597, 'end': 1602},
  {'entity_group': 'WORK_OF_ART',
   'word': "Ballon d'Or",
   'start': 1603,
   'end': 1614},
  {'entity_group': 'CARDINAL', 'word': 'Three', 'start': 1616, 'end': 1621},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 1656, 'end': 1661},
  {'entity_group': 'CARDINAL', 'word': 'four', 'start': 1670, 'end': 1674},
  {'entity_group': 'WORK_OF_ART',
   'word': "Ballons d'Or",
   'start': 1687,
   'end': 1699},
  {'entity_group': 'ORDINAL', 'word': 'first', 'start': 1716, 'end': 1721},
  {'entity_group': 'CARDINAL', 'word': 'four', 'start': 1746, 'end': 1750},
  {'entity_group': 'DATE',
   'word': ' 2011–12 season',
   'start': 1765,
   'end': 1783},
  {'entity_group': 'ORG', 'word': 'La Liga', 'start': 1796, 'end': 1803},
  {'entity_group': 'NORP', 'word': 'European', 'start': 1808, 'end': 1816},
  {'entity_group': 'ORG', 'word': 'Barcelona', 'start': 1897, 'end': 1906},
  {'entity_group': 'DATE', 'word': 'The followg', 'start': 1930, 'end': 1943},
  {'entity_group': 'DATE', 'word': 'two seasons', 'start': 1944, 'end': 1955},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 1957, 'end': 1962},
  {'entity_group': 'ORDINAL', 'word': 'second', 'start': 1972, 'end': 1978},
  {'entity_group': 'WORK_OF_ART',
   'word': " Ballon d'Or behd",
   'start': 1983,
   'end': 2005},
  {'entity_group': 'PERSON',
   'word': 'Crtiano Ronaldo',
   'start': 2006,
   'end': 2023},
  {'entity_group': 'ORG', 'word': 'La Liga', 'start': 2150, 'end': 2157},
  {'entity_group': 'ORG', 'word': 'Barcelona', 'start': 2170, 'end': 2179},
  {'entity_group': 'ORDINAL', 'word': 'second', 'start': 2194, 'end': 2200},
  {'entity_group': 'ORDINAL', 'word': 'fifth', 'start': 2238, 'end': 2243},
  {'entity_group': 'WORK_OF_ART',
   'word': "Ballon d'Or",
   'start': 2244,
   'end': 2255},
  {'entity_group': 'DATE', 'word': '2015', 'start': 2259, 'end': 2263},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 2265, 'end': 2270},
  {'entity_group': 'ORG', 'word': 'Barcelona', 'start': 2292, 'end': 2301},
  {'entity_group': 'DATE', 'word': '2018', 'start': 2305, 'end': 2309},
  {'entity_group': 'DATE', 'word': '2019', 'start': 2318, 'end': 2322},
  {'entity_group': 'ORDINAL', 'word': 'sixth', 'start': 2339, 'end': 2344},
  {'entity_group': 'WORK_OF_ART',
   'word': "Ballon d'Or",
   'start': 2345,
   'end': 2356},
  {'entity_group': 'ORG', 'word': 'Par Sat-Germa', 'start': 2389, 'end': 2408},
  {'entity_group': 'DATE', 'word': 'August 2021', 'start': 2412, 'end': 2423},
  {'entity_group': 'NORP', 'word': 'Argente', 'start': 2428, 'end': 2437},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 2453, 'end': 2458},
  {'entity_group': 'DATE', 'word': '2005', 'start': 2583, 'end': 2587},
  {'entity_group': 'EVENT',
   'word': 'FIFA World Youth Championship',
   'start': 2588,
   'end': 2617},
  {'entity_group': 'WORK_OF_ART',
   'word': ' Golden Ball',
   'start': 2654,
   'end': 2669},
  {'entity_group': 'WORK_OF_ART',
   'word': 'Golden Shoe',
   'start': 2674,
   'end': 2685},
  {'entity_group': 'DATE', 'word': '2008', 'start': 2720, 'end': 2724},
  {'entity_group': 'EVENT',
   'word': 'Summer Olympics',
   'start': 2725,
   'end': 2740},
  {'entity_group': 'PERSON',
   'word': 'Diego Maradona',
   'start': 2835,
   'end': 2849},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 2865, 'end': 2870},
  {'entity_group': 'DATE', 'word': 'August 2005', 'start': 2915, 'end': 2926},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 2928, 'end': 2933},
  {'entity_group': 'NORP', 'word': 'Argente', 'start': 2954, 'end': 2963},
  {'entity_group': 'EVENT',
   'word': 'a FIFA World Cup',
   'start': 2985,
   'end': 3001},
  {'entity_group': 'DATE', 'word': '2006', 'start': 3005, 'end': 3009},
  {'entity_group': 'DATE', 'word': '2007', 'start': 3040, 'end': 3044},
  {'entity_group': 'EVENT',
   'word': 'Copa América',
   'start': 3045,
   'end': 3057},
  {'entity_group': 'DATE', 'word': 'August 2011', 'start': 3138, 'end': 3149},
  {'entity_group': 'GPE', 'word': 'Argenta', 'start': 3158, 'end': 3167},
  {'entity_group': 'CARDINAL', 'word': 'three', 'start': 3171, 'end': 3176},
  {'entity_group': 'DATE', 'word': '2014', 'start': 3201, 'end': 3205},
  {'entity_group': 'EVENT',
   'word': 'FIFA World Cup',
   'start': 3206,
   'end': 3220},
  {'entity_group': 'WORK_OF_ART',
   'word': ' Golden Ball',
   'start': 3239,
   'end': 3254},
  {'entity_group': 'DATE', 'word': '2015', 'start': 3264, 'end': 3268},
  {'entity_group': 'DATE', 'word': '2016', 'start': 3273, 'end': 3277},
  {'entity_group': 'EVENT',
   'word': 'Copa América',
   'start': 3278,
   'end': 3290},
  {'entity_group': 'WORK_OF_ART',
   'word': ' Golden Ball',
   'start': 3300,
   'end': 3315},
  {'entity_group': 'DATE', 'word': '2015', 'start': 3323, 'end': 3327},
  {'entity_group': 'DATE', 'word': '2016', 'start': 3386, 'end': 3390},
  {'entity_group': 'DATE', 'word': '2018', 'start': 3462, 'end': 3466},
  {'entity_group': 'EVENT',
   'word': 'FIFA World Cup',
   'start': 3467,
   'end': 3481},
  {'entity_group': 'ORDINAL', 'word': 'third', 'start': 3485, 'end': 3490},
  {'entity_group': 'DATE', 'word': '2019', 'start': 3511, 'end': 3515},
  {'entity_group': 'EVENT',
   'word': 'Copa América',
   'start': 3516,
   'end': 3528},
  {'entity_group': 'DATE', 'word': '2021', 'start': 3542, 'end': 3546},
  {'entity_group': 'EVENT',
   'word': 'Copa América',
   'start': 3547,
   'end': 3559},
  {'entity_group': 'WORK_OF_ART',
   'word': 'Golden Ball and Golden Boot',
   'start': 3579,
   'end': 3606},
  {'entity_group': 'ORDINAL', 'word': 'seventh', 'start': 3677, 'end': 3684},
  {'entity_group': 'WORK_OF_ART',
   'word': "Ballon d'Or ",
   'start': 3685,
   'end': 3699},
  {'entity_group': 'DATE', 'word': '2021', 'start': 3700, 'end': 3704},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 3706, 'end': 3711},
  {'entity_group': 'ORG', 'word': 'Adidas', 'start': 3744, 'end': 3750},
  {'entity_group': 'DATE', 'word': '2006', 'start': 3757, 'end': 3761},
  {'entity_group': 'ORG',
   'word': 'France Football',
   'start': 3776,
   'end': 3791},
  {'entity_group': 'DATE', 'word': 'five years', 'start': 3840, 'end': 3850},
  {'entity_group': 'CARDINAL', 'word': 'six', 'start': 3858, 'end': 3861},
  {'entity_group': 'DATE',
   'word': 'between 2009 and 2014',
   'start': 3862,
   'end': 3883},
  {'entity_group': 'ORG', 'word': 'Forbes', 'start': 3936, 'end': 3942},
  {'entity_group': 'DATE', 'word': '2019', 'start': 3946, 'end': 3950},
  {'entity_group': 'DATE', 'word': '2022', 'start': 3955, 'end': 3959},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 3961, 'end': 3966},
  {'entity_group': 'ORG', 'word': 'Time', 'start': 3977, 'end': 3981},
  {'entity_group': 'CARDINAL', 'word': '100', 'start': 3984, 'end': 3987},
  {'entity_group': 'DATE', 'word': '2011', 'start': 4028, 'end': 4032},
  {'entity_group': 'DATE', 'word': '2012', 'start': 4037, 'end': 4041},
  {'entity_group': 'DATE',
   'word': 'February 2020',
   'start': 4046,
   'end': 4059},
  {'entity_group': 'WORK_OF_ART',
   'word': ' Laureus World Sportsman of  Year',
   'start': 4076,
   'end': 4115},
  {'entity_group': 'ORDINAL', 'word': 'first', 'start': 4135, 'end': 4140},
  {'entity_group': 'ORDINAL', 'word': 'first', 'start': 4160, 'end': 4165},
  {'entity_group': 'DATE', 'word': 'Ler th year', 'start': 4203, 'end': 4218},
  {'entity_group': 'PERSON', 'word': 'Messi', 'start': 4220, 'end': 4225},
  {'entity_group': 'ORDINAL', 'word': 'second', 'start': 4237, 'end': 4243},
  {'entity_group': 'ORDINAL', 'word': 'second', 'start': 4260, 'end': 4266},
  {'entity_group': 'MONEY', 'word': '$1 billion', 'start': 4298, 'end': 4308}]}

In [24]:
# See how many entities we have in total
import pandas as pd
entities = pd.DataFrame()
for k in abstracts_and_entities:
    entities = pd.concat([entities, pd.DataFrame(abstracts_and_entities[k]['entities'])])

In [25]:
entities

   entity_group                 word  start   end
0        PERSON  Lionel Andrés Messi      0    19
1          NORP                Spanh     21    28
2          DATE         24 June 1987     74    86
3        PERSON            Leo Messi    103   112
4          NORP              Argente    120   129
..          ...                  ...    ...   ...
21          ORG   Project Drawdown's   1510  1528
22     CARDINAL                  100   1529  1532
23     CARDINAL   around one billion   2503  2521
24          GPE                  Cha   2592  2597
25          GPE                India   2599  2604

[286 rows x 4 columns]

In [51]:
entities.to_csv("../EntityLinking/entities_from_abstracts.csv")

In [29]:
entities['entity_group'].value_counts()

entity_group
DATE           62
GPE            40
CARDINAL       34
ORG            33
PERSON         23
ORDINAL        23
EVENT          20
NORP           15
WORK_OF_ART    15
LOC            10
MONEY           3
FAC             2
QUANTITY        2
PRODUCT         2
PERCENT         1
LANGUAGE        1
Name: count, dtype: int64

In [49]:
# I won't be considering DATE and CARDINAL, ORDINAL, QUANTITY, PERCENT will look at them separately
selected_entities = entities[~entities['entity_group'].isin(
    ['CARDINAL', 'ORDINAL', 'QUANTITY', 'PERCENT', 'DATE'])]

In [50]:
selected_entities

   entity_group                 word  start   end
0        PERSON  Lionel Andrés Messi      0    19
1          NORP                Spanh     21    28
3        PERSON            Leo Messi    103   112
4          NORP              Argente    120   129
5           ORG              Ligue 1    181   188
..          ...                  ...    ...   ...
15          LOC               Europe    602   608
16        EVENT         World War II    691   703
21          ORG   Project Drawdown's   1510  1528
24          GPE                  Cha   2592  2597
25          GPE                India   2599  2604

[164 rows x 4 columns]